@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h1 style="text-align:center"> Hello we are Tom, Felix, Subin and Elias</h1>
<br />
<br />

<h1 style="text-align:center">Have fun with our little project</h1>